<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.crabc.core.system.mapper.BaseUserMapper">

    <select id="selectList" resultType="cn.crabc.core.system.entity.BaseUser">
        SELECT
            user_id,
            user_name username,
            nick_name nickname,
            email,
            dept,
            role,
            phone,
            sex,
            picture,
            remark,
            create_time
        FROM
            base_sys_user
        where  status = '0'
        <if test="userName !=null and userName !=''">
            and user_name like concat('%', #{userName}, '%')
        </if>
        order by create_time desc
    </select>

    <select id="selectOne" resultType="cn.crabc.core.system.entity.BaseUser">
        SELECT
            user_id,
            user_name username,
            nick_name nickname,
            dept,
            role,
            email,
            phone,
            sex,
            password,
            picture,
            remark
        FROM
        base_sys_user
        where  status = '0'
        <if test="userId !=null and userId !=0">
            and user_id =#{userId}
        </if>
        <if test="userName !=null and userName !=''">
            and user_name = #{userName}
        </if>
    </select>

    <update id="updateUser" parameterType="cn.crabc.core.system.entity.BaseUser">
        update base_sys_user
        <set>
            <if test="dept != null">dept = #{dept},</if>
            <if test="username != null and username != ''">user_name = #{username},</if>
            <if test="nickname != null and nickname != ''">nick_name = #{nickname},</if>
            <if test="email != null ">email = #{email},</if>
            <if test="phone != null ">phone = #{phone},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="picture != null and picture != ''">picture = #{picture},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = #{updateTime}
        </set>
        where status = '0' and user_id = #{userId}
    </update>

    <insert id="insertUser" parameterType="cn.crabc.core.system.entity.BaseUser" useGeneratedKeys="true" keyProperty="userId">
        insert into base_sys_user(
        <if test="userId != null and userId != 0">user_id,</if>
        <if test="dept != null">dept,</if>
        <if test="role != null">role,</if>
        <if test="username != null and username != ''">user_name,</if>
        <if test="nickname != null and nickname != ''">nick_name,</if>
        <if test="email != null and email != ''">email,</if>
        <if test="picture != null and picture != ''">picture,</if>
        <if test="phone != null and phone != ''">phone,</if>
        <if test="sex != null">sex,</if>
        <if test="password != null and password != ''">password,</if>
        <if test="status != null">status,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="remark != null and remark != ''">remark,</if>
        create_time
        )values(
        <if test="userId != null and userId != 0">#{userId},</if>
        <if test="dept != null">#{dept},</if>
        <if test="role != null">#{role},</if>
        <if test="username != null and username != ''">#{username},</if>
        <if test="nickname != null and nickname != ''">#{nickname},</if>
        <if test="email != null and email != ''">#{email},</if>
        <if test="picture != null and picture != ''">#{picture},</if>
        <if test="phone != null and phone != ''">#{phone},</if>
        <if test="sex != null">#{sex},</if>
        <if test="password != null and password != ''">#{password},</if>
        <if test="status != null">#{status},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        #{createTime}
        )
    </insert>

</mapper>