<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.crabc.core.app.mapper.BaseApiInfoMapper">

    <select id="selectList" resultType="cn.crabc.core.app.entity.BaseApiInfo">
        SELECT
            i.api_id,
            i.api_name,
            i.api_path,
            i.api_type,
            i.api_method,
            i.auth_type,
            i.api_status,
            i.enabled,
            i.group_id,
            i.tenant_id,
            i.remarks,
            i.version,
            i.create_by,
            i.create_time,
            i.update_by,
            i.update_time,
            i.release_time,
            i.show_sql_script,
            d.datasource_name
        FROM
            base_api_info i
        left join base_datasource d
        on i.datasource_id = d.datasource_id
        <where>
            <if test="apiName !=null and apiName !=''">
                (i.api_name like concat('%',#{apiName},'%')
                or i.api_path like concat('%',#{apiName},'%'))
            </if>
            <if test="devType !=null and devType !=''">
                and i.api_status =#{devType}
            </if>
        </where>
        ORDER BY i.api_id desc
    </select>

    <select id="selectApiGroup" resultType="cn.crabc.core.app.entity.vo.ApiComboBoxVO">
        SELECT
        api_id,
        api_name,
        api_type,
        api_status,
        group_id
        FROM
        base_api_info where  api_status in ('edit','release')
        <if test="groupId !=null">
            and group_id = #{groupId}
        </if>
        <if test="userId !=null and userId !=''">
            and create_by = #{userId}
        </if>
    </select>

    <select id="selectApiApp" resultType="cn.crabc.core.app.entity.vo.ApiComboBoxVO">
        SELECT distinct
            ai.api_id,
            ai.api_name,
            ai.api_type
        FROM
            base_api_info ai
        left join
            base_app_api aa on
                ai.api_id = aa.api_id
        WHERE
            ai.enabled = 1
          AND ai.api_status = 'release'
          <if test="appId != null">
            and aa.app_id = #{appId}
          </if>
    </select>

    <select id="selectApiDetail" resultType="cn.crabc.core.app.entity.dto.ApiInfoDTO">
        SELECT
            api_id,
            api_name,
            api_path,
            api_type,
            api_method,
            auth_type,
            api_status,
            enabled,
            group_id,
            tenant_id,
            remarks,
            version,
            page_setup,
            show_sql_script,
            datasource_id,
            datasource_type,
            schema_name,
            sql_script,
            sql_type,
            result_type
        FROM
            base_api_info
        WHERE
            parent_id = 0 AND api_status ='release'
        <if test="apiId != null">
            and api_id =#{apiId}
        </if>
    </select>

    <select id="selectApiById" resultType="cn.crabc.core.app.entity.BaseApiInfo">
        SELECT
            api_id,
            api_name,
            api_path,
            api_type,
            api_method,
            auth_type,
            api_status,
            enabled,
            group_id,
            tenant_id,
            remarks,
            create_by,
            create_time,
            update_by,
            update_time,
            version,
            datasource_id,
            datasource_type,
            schema_name,
            sql_script,
            show_sql_script,
            page_setup,
            sql_type,
            result_type
        FROM
            base_api_info
        WHERE
            api_id =#{apiId}
    </select>
    <select id="selectBaseApi" resultType="cn.crabc.core.app.entity.vo.BaseApiInfoVO">
        SELECT
            b.api_id,
            b.api_name,
            b.api_path,
            b.api_type,
            b.api_method,
            b.auth_type,
            b.api_status,
            b.sql_type,
            b.enabled,
            b.remarks,
            u.nick_name create_by,
            b.page_setup,
            b.create_time,
            b.sql_script,
            b.show_sql_script,
            b.update_time,
            b.release_time,
            b.version
        FROM
            base_api_info b
            left join base_sys_user u on b.create_by = u.user_id
        WHERE
            b.api_id =#{apiId}
    </select>
    <select id="checkApiPath">
        SELECT
            count(1)
        FROM
            base_api_info where api_path =#{apiPath} and api_method =#{method} and api_id !=#{apiId}
    </select>

    <insert id="insertApiInfo" useGeneratedKeys="true" keyProperty="apiId" parameterType="cn.crabc.core.app.entity.BaseApiInfo">
        INSERT into base_api_info(
        <if test="apiName != null and apiName != ''">api_name,</if>
        <if test="apiPath != null and apiPath != ''">api_path,</if>
        <if test="apiType != null and apiType != ''">api_type,</if>
        <if test="apiMethod != null and apiMethod != ''">api_method,</if>
        <if test="authType != null and authType != ''">auth_type,</if>
        <if test="apiStatus != null and apiStatus != ''">api_status,</if>
        <if test="groupId != null">group_id,</if>
        <if test="tenantId != null">tenant_id,</if>
        <if test="version != null and version != ''">version,</if>
        <if test="parentId != null">parent_id,</if>
        <if test="remarks != null and remarks != ''">remarks,</if>
        <if test="sqlType != null and sqlType != ''">sql_type,</if>
        <if test="resultType != null and resultType != ''">result_type,</if>
        <if test="sqlScript != null and sqlScript !=''">sql_script,</if>
        <if test="showSqlScript != null and showSqlScript !=''">show_sql_script,</if>
        <if test="datasourceId != null and datasourceId != ''">datasource_id,</if>
        <if test="datasourceType != null and datasourceType != ''">datasource_type,</if>
        <if test="schemaName != null and schemaName != ''">schema_name,</if>
        <if test="pageSetup != null">page_setup,</if>
        enabled,
        create_by,
        create_time
        )values(
        <if test="apiName != null and apiName != ''">#{apiName},</if>
        <if test="apiPath != null and apiPath != ''">#{apiPath},</if>
        <if test="apiType != null and apiType != ''">#{apiType},</if>
        <if test="apiMethod != null and apiMethod != ''">#{apiMethod},</if>
        <if test="authType != null and authType != ''">#{authType},</if>
        <if test="apiStatus != null and apiStatus != ''">#{apiStatus},</if>
        <if test="groupId != null">#{groupId},</if>
        <if test="tenantId != null">#{tenantId},</if>
        <if test="version != null and version != ''">#{version},</if>
        <if test="parentId != null and parentId != ''">#{parentId},</if>
        <if test="remarks != null and remarks != ''">#{remarks},</if>
        <if test="sqlType != null and sqlType != ''">#{sqlType},</if>
        <if test="resultType != null and resultType != ''">#{resultType},</if>
        <if test="sqlScript != null and sqlScript !=''">#{sqlScript},</if>
        <if test="showSqlScript != null and showSqlScript !=''">#{showSqlScript},</if>
        <if test="datasourceId != null and datasourceId != ''">#{datasourceId},</if>
        <if test="datasourceType != null and datasourceType != ''">#{datasourceType},</if>
        <if test="schemaName != null and schemaName != ''">#{schemaName},</if>
        <if test="pageSetup != null">#{pageSetup},</if>
        #{enabled},
        #{createBy},
        #{createTime}
        )
    </insert>

    <update id="updateApiInfo" parameterType="cn.crabc.core.app.entity.BaseApiInfo">
        UPDATE base_api_info
        <set>
            enabled = #{enabled},api_status = #{apiStatus},
            <if test="apiName != null and apiName != ''">api_name= #{apiName},</if>
            <if test="apiPath != null and apiPath != ''">api_path = #{apiPath},</if>
            <if test="apiType != null and apiType != ''">api_type = #{apiType},</if>
            <if test="apiMethod != null and apiMethod != ''">api_method = #{apiMethod},</if>
            <if test="authType != null and authType != ''">auth_type = #{authType},</if>
            <if test="groupId != null">group_id = #{groupId},</if>
            <if test="releaseTime != null">release_time = #{releaseTime},</if>
            <if test="version != null and version != ''">version = #{version},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="remarks != null and remarks != ''">remarks = #{remarks},</if>
            <if test="sqlType != null and sqlType != ''">sql_type = #{sqlType},</if>
            <if test="resultType != null and resultType != ''">result_type = #{resultType},</if>
            <if test="sqlScript != null and sqlScript !=''">sql_script = #{sqlScript},</if>
            <if test="showSqlScript != null and showSqlScript !=''">show_sql_script =#{showSqlScript},</if>
            <if test="datasourceId != null and datasourceId != ''">datasource_id =#{datasourceId},</if>
            <if test="datasourceType != null and datasourceType != ''">datasource_type =#{datasourceType},</if>
            <if test="schemaName != null and schemaName != ''">schema_name =#{schemaName},</if>
            <if test="pageSetup != null">page_setup =#{pageSetup},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = #{updateTime}
        </set>
        WHERE api_id =#{apiId}
    </update>

    <update id="updateApiState" parameterType="cn.crabc.core.app.entity.BaseApiInfo">
        UPDATE base_api_info
        <set>
            <if test="enabled != null">enabled = #{enabled},</if>
            <if test="apiStatus != null and apiStatus != ''">api_status = #{apiStatus},</if>
            <if test="releaseTime != null">release_time = #{releaseTime},</if>
            update_by = #{updateBy},
            update_time = #{updateTime},
        </set>
        WHERE api_id =#{apiId}
    </update>

    <delete id="deleteApiInfo">
        DELETE FROM base_api_info where api_status ='edit' and api_id =#{apiId} and create_by =#{userId}
    </delete>

    <select id="countApi" resultType="java.lang.Integer">
        select count(1) from base_api_info
        <where>
            <if test="apiId != null and apiId !=''">
                api_id =#{apiId}
            </if>
        </where>
    </select>
</mapper>